$maincolor1: #1c3b42;
$bgcolor: #c3c3c3;

body{
    background-color: $test1;
    padding: 0;
    margin: 0;
}
nav .navbar{
    background-color: $maincolor1;
    width: 100vw;
    height: 8vh;
    top: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}

#footer{
    position: fixed;
    bottom: 0;
    background-color: $maincolor1;
    width: 100vw;
    height: 8vh;
}