main{
    margin-top: 20vh;
    margin-bottom: 3vh;
    z-index: 1;
    width: 90%;
    height: 18  0vh;
    border: gray solid 1px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    background-color: whitesmoke;
    text-align: center;
}