@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
$maincolor1: #1c3b42;
$bgcolor: #c3c3c3;

// TEMPLATE IS KLAAR NIET AANPASSEN!

body {
    background-image: url(../images/bg-pattern.png);
    background-size: 685px 541px;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono'

}

nav .navbar {
    background-color: $maincolor1;
    width: 100vw;
    height: 8vh;
    top: 0;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 5;

    a {
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        padding-left: 2.5%;
        line-height: 8vh;
        
        &:hover {
            color: $bgcolor;
        }
    }
    .NavLinks{
        padding-left: 4%;
    }
    .logo {
        position: absolute;
        width: 5vw;
        top: 0.5vh;
        margin-left: 50%;
        transform: translate(-50%, 0);
    }

}

#footer {
    position: fixed;
    bottom: 0;
    background-color: $maincolor1;
    width: 100vw;
    height: 5vh;
    display: flex;
    text-align: center;
    z-index: 5;

    a {
        line-height: 5vh;
        margin-left: 12%;
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: none;
        transform: translate(-50, 0);

        &:hover {
            color: $bgcolor;
        }
    }

    h5 {
        margin-left: 10%;
        line-height: 1vh;
    }


}
.productgrid {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px auto;
    max-width: 800px;
}