@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
$maincolor1: #1c3b42;
$bgcolor: #c3c3c3;


body{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}
nav .navbar{
    background-color: $maincolor1;
    width: 100vw;
    height: 8vh;
    top: 0;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 5;

    a{
        top: 3vh;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        padding: 0 1rem;
        &:hover{
            color: $bgcolor;
        }
    }
    .CartImage{
        width: 50px;
        margin-left: 50%;
        transform: translate(-50%, -50%);
        float: right;
    }
}
#footer{
    position: fixed;
    bottom: 0;
    background-color: $maincolor1;
    width: 100vw;
    height: 8vh;
    display: flex;
    text-align: center;
    z-index: 5;
    a{
        margin-top: 25px;
        margin-left: 12%;
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: none;
        transform: translate(-50, 0);
        &:hover{
            color: $bgcolor;
        }
    }
    h5{
        margin-left: 10%;
        margin-top: 25px;
    }
}

.logo{
    position: absolute;
    width: 5vw;
    top: 3.5vh;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.productgrid{  
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px auto;
    max-width: 800px;
}